@font-face {
    font-family: 'CabinRegular';
    src: url('./fonts/Cabin-Regular-webfont.eot');
    src: url('./fonts/Cabin-Regular-webfont.eot?#iefix') format('eot'),
         url('./fonts/Cabin-Regular-webfont.woff') format('woff'),
         url('./fonts/Cabin-Regular-webfont.ttf') format('truetype'),
         url('./fonts/Cabin-Regular-webfont.svg#webfontBYmTbORQ') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('./fonts/Cabin-Italic-webfont.eot');
    src: url('./fonts/Cabin-Italic-webfont.eot?#iefix') format('eot'),
         url('./fonts/Cabin-Italic-webfont.woff') format('woff'),
         url('./fonts/Cabin-Italic-webfont.ttf') format('truetype'),
         url('./fonts/Cabin-Italic-webfont.svg#webfontoEOlx1Fe') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMedium';
    src: url('./fonts/Cabin-Medium-webfont.eot');
    src: url('./fonts/Cabin-Medium-webfont.eot?#iefix') format('eot'),
         url('./fonts/Cabin-Medium-webfont.woff') format('woff'),
         url('./fonts/Cabin-Medium-webfont.ttf') format('truetype'),
         url('./fonts/Cabin-Medium-webfont.svg#webfontZjmzPr5n') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMediumItalic';
    src: url('./fonts/Cabin-MediumItalic-webfont.eot');
    src: url('./fonts/Cabin-MediumItalic-webfont.eot?#iefix') format('eot'),
         url('./fonts/Cabin-MediumItalic-webfont.woff') format('woff'),
         url('./fonts/Cabin-MediumItalic-webfont.ttf') format('truetype'),
         url('./fonts/Cabin-MediumItalic-webfont.svg#webfontScE3mmnx') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('./fonts/Cabin-SemiBold-webfont.eot');
    src: url('./fonts/Cabin-SemiBold-webfont.eot?#iefix') format('eot'),
         url('./fonts/Cabin-SemiBold-webfont.woff') format('woff'),
         url('./fonts/Cabin-SemiBold-webfont.ttf') format('truetype'),
         url('./fonts/Cabin-SemiBold-webfont.svg#webfonteZogGz32') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBoldItalic';
    src: url('./fonts/Cabin-SemiBoldItalic-webfont.eot');
    src: url('./fonts/Cabin-SemiBoldItalic-webfont.eot?#iefix') format('eot'),
         url('./fonts/Cabin-SemiBoldItalic-webfont.woff') format('woff'),
         url('./fonts/Cabin-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('./fonts/Cabin-SemiBoldItalic-webfont.svg#webfontuuedSAqG') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('./fonts/Cabin-Bold-webfont.eot');
    src: url('./fonts/Cabin-Bold-webfont.eot?#iefix') format('eot'),
         url('./fonts/Cabin-Bold-webfont.woff') format('woff'),
         url('./fonts/Cabin-Bold-webfont.ttf') format('truetype'),
         url('./fonts/Cabin-Bold-webfont.svg#webfont2veyF8LL') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBoldItalic';
    src: url('./fonts/Cabin-BoldItalic-webfont.eot');
    src: url('./fonts/Cabin-BoldItalic-webfont.eot?#iefix') format('eot'),
         url('./fonts/Cabin-BoldItalic-webfont.woff') format('woff'),
         url('./fonts/Cabin-BoldItalic-webfont.ttf') format('truetype'),
         url('./fonts/Cabin-BoldItalic-webfont.svg#webfontbHepAcvL') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #ffffff;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

body, p, ol, ul, td {
  font-family: 'CabinRegular', Arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

em {
  font-size: 12px;
}

img {
  -moz-box-shadow: 2px 2px 5px #000;
  -webkit-box-shadow: 2px 2px 5px #000;
}

table {
  width: 900px;
  border-collapse: collapse;
  border: 1px solid #cccccc;
}
table th {
  text-align: left;
  background-color: #efefef;
  padding: 5px;
  border-bottom: 1px solid #cccccc;
}
table a:hover { text-decoration: underline; }
table td {
  border-top: 1px solid #efefef;
  padding: 5px;
}


#title p {
  height: 30px;
  font-size: 72px;
  margin-left: 145px;
  margin-top: 35px;
  margin-bottom: 25px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .7);
}

#blue { color: #3481cf; }
#green { color: #58cf34; }
#yellow { color: #e0de37; }

#menu {
  font-size: 24px;
  height: 50px;
  color: #111;
  padding-left: 110px;
  margin-bottom: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  
  background-color: #e42735;
  background-image: -moz-linear-gradient(top, #000000 0%, #555555 100%);
  background-image: -o-linear-gradient(top, #000000 0%, #555555 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#555555));
}

#menu ul {
  list-style-type: none;
}

#menu ul li {
  font-size: 28px;
  display: block;
  float: left;
  padding-right: 10px;
}

#content {
  margin: 0px auto 0px;
  width: 950px;
}

#container {
  color: #000;
  padding: 40px;
  min-height: 530px;
  background-color: #c4c4c4;
  background-image: -moz-linear-gradient(top, #fefefe 0%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #fefefe 0%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#eeeeee));
  border: 1px solid #cccccc;
  border-top: 1px solid #efefef;
}

#container a { color: #000000; }
a { color: #FFFFFF; text-decoration: none; }
a:hover { text-decoration: none; }

div.field, div.actions { margin-bottom: 10px; }

#notice {
  color: green;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .0);
}

.field_with_errors {
  padding: 1px;
  background-color: #e42735;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 1px solid #e42735;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation ul {
  padding: 3px;
  margin: 3px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  color: #333;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .0);
  font-size: 12px;
  list-style-type: none;
}

textarea {
  font-family: 'CabinRegular', Arial, helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid #c4c4c4;
  width: 450px;
}

#footer {
  height: 60px;
  width: 960px;
  margin: 25px auto 0px;
  color: #000000;
  text-shadow: 1px 1px 1px #FFFFFF;
  
}
#footer p { font-size: 12px; margin: 0px;}
#footer a { color: #000000; }

input[type=text], input[type=password], select { font-family: 'CabinRegular', Arial; font-size: 14px; height: 19px; width: 450px; border: 1px solid #c4c4c4; }
input[type=submit]{ font-family: 'CabinRegular', Arial; font-size: 14px; width: auto; }
