body { background-color: #ffffff; color: #000000; margin: 0px; }

body, p, ol, ul, td {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

body {
  background-color: #ffffff;
}

img {
  border: 1px solid #999999;
}

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px;
}

em {
  font-size: 12px;
}

#upper {
  margin: 0px auto 0px;
  width: 810px;
}

#title p {
  font-size: 72px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .9);
}

#blue { color: #3481cf }
#green { color: #58cf34 }
#yellow { color: #e0de37 }

#menu {
  font-size: 24px;
  height: 50px;
  color: #111;
  margin-bottom: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

#menu ul {
  padding: 0px;
  list-style-type: none;
}

#menu ul li {
  font-size: 28px;
  display: block;
  float: left;
  margin-right: 20px;
  width: 120px;
  height: 30px;
  padding-top: 15px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .3);
  
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  background-color: #000;
  background-image: -moz-linear-gradient(top, #000000 0%, #555555 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#555555));
}

#container {
  margin: 0px auto 0px;
  padding-left: 5px;
  min-height: 545px;
  width: 1030px;
  background-color: #fcfcfc;
  background-image: -moz-linear-gradient(top, #fcfcfc 0%, #dddddd 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#dddddd));
  border: 1px solid #cccccc;
  border-top: 1px solid #efefef;
}

#nextBtn, #prevBtn {
  position: absolute;
  top: 408px;
  margin-left: 899px;
  height: 40px;
  width: 40px;
  
  font-family: arial, sans-serif;
  font-size: 48px;
  
  -webkit-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-radius: 20px;
  
  background-color: #000000;
  border: 1px solid #999999;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 1.9);
}

#nextBtn a, #prevBtn a {
  line-height: 41px;
  padding-left: 7px;
  height: 37px;
  width: 37px;
} 

#prevBtn { margin-left: 15px; }
#prevBtn a { padding-left: 5px; }

#slider {
  height: 490px;
  width: 955px;
  padding: 0px;
}

#slider ul { padding-left: 0px; }

#slider li {
  height: 490px;
  width: 955px;
  list-style-type: none;
}

#content {
  margin: 0px auto 0px;
  width: 960px;
  padding-top: 20px;
  color: #000000;
}

#news {
  margin-top: 40px;
  width: 960px;
}

.news {
  margin-top: 30px;
  width: 318px;
  height: 230px;
  position: relative;
  float: left;
}

.news h2 {
  margin-left: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #c4c4c4;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  width: 308px;
}

.news p {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  text-align: justify;
}

#content h1, #content a { color: #000000; }

#nextBtn a, #prevBtn a { color: #FFFFFF; }

#footer {
  margin: 0px auto 0px;
  width: 810px;
  color: #000000;
  height: 100px;
}

a { color: #FFFFFF; text-decoration: none; }
a:hover { text-decoration: none; }

div.field, div.actions { margin-bottom: 10px; }

#notice {
  color: green;
  padding-left: 70px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .0);
}

.field_with_errors {
  padding: 1px;
  background-color: #e42735;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 1px solid #e42735;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation ul {
  padding: 3px;
  margin: 3px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  color: #333;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .0);
  font-size: 12px;
  list-style-type: none;
}

#login{
	margin-left: 70px;
}
