@font-face {
    font-family: 'CabinRegular';
    src: url('./fonts/Cabin-Regular-webfont.eot');
    src: url('./fonts/Cabin-Regular-webfont.eot?#iefix') format('eot'),
         url('./fonts/Cabin-Regular-webfont.woff') format('woff'),
         url('./fonts/Cabin-Regular-webfont.ttf') format('truetype'),
         url('./fonts/Cabin-Regular-webfont.svg#webfontBYmTbORQ') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('./fonts/Cabin-Italic-webfont.eot');
    src: url('./fonts/Cabin-Italic-webfont.eot?#iefix') format('eot'),
         url('./fonts/Cabin-Italic-webfont.woff') format('woff'),
         url('./fonts/Cabin-Italic-webfont.ttf') format('truetype'),
         url('./fonts/Cabin-Italic-webfont.svg#webfontoEOlx1Fe') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { background-color: #FFFFFF; color: #000000; margin: 0px; }

body, p, ol, ul, td {
  font-family: 'CabinRegular', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

img {
  border: 1px solid #CCCCCC;
}

pre {
  background-color: #EEEEEE;
  padding: 10px;
  font-size: 11px;
}

em {
  font-family: 'CabinItalic';
  font-size: 14px;
}

#upper {
  width: 960px;
  margin: 0px auto 0px;
}

#title {
  height: 30px;
  font-size: 76px;
  padding-top: 35px;
  padding-bottom: 10px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.7);
}

#blue { color: #3481cf; }
#green { color: #58cf34; }
#yellow { color: #e0de37; }

#menu {
  font-size: 24px;
  height: 50px;
  color: #111;
  margin-bottom: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
}

#menu ul {
  padding: 0px;
  list-style-type: none;
}

#menu ul li {
  font-size: 28px;
  display: block;
  float: left;
  margin-right: 20px;
  width: 120px;
  height: 30px;
  padding-top: 15px;
  text-align: center;
  
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  background-color: #000000;
  background-image: -moz-linear-gradient(top, #000000 0%, #666666 100%);
  background-image: -o-linear-gradient(top, #000000 0%, #666666 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#666666));
}

#container {
  margin: 0px auto 0px;
  padding-left: 5px;
  min-height: 555px;
  width: 1030px;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  background-color: #FCFCFC;
  background-image: -moz-linear-gradient(top, #FCFCFC 0%, #ECECEC 100%);
  background-image: -o-linear-gradient(top, #FCFCFC 0%, #ECECEC 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FCFCFC), to(#ECECEC));
  
  -moz-box-shadow: 1px 1px 2px #DDDDDD;
  -webkit-box-shadow: 1px 1px 2px #DDDDDD;
  box-shadow: 1px 1px 2px #DDDDDD;
  
  border: 1px solid #DADADA;
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #CCCCCC;
}

#nextBtn, #prevBtn {
  position: absolute;
  top: 359px;
  margin-left: 914px;
  padding-top: 19px;
  height: 60px;
  width: 40px;
  
  -webkit-border-top-left-radius: 120px;
  -webkit-border-bottom-left-radius: 120px;
  -moz-border-radius-topleft: 120px;
  -moz-border-radius-bottomleft: 120px;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  
  background-color: #000000;
  background: rgba(0, 0, 0, 0.66);
  -ms-filter: "alpha(opacity=66)";
  filter: alpha(opacity=66);
  
  border-left: 1px solid #333333;
}

#nextBtn a, #prevBtn a {
  padding-left: 8px;
  height: 37px;
  width: 37px;
  
  font-family: Arial, sans-serif;
  font-size: 48px;
  line-height: 41px;
} 

#nextBtn a:hover, #prevBtn a:hover { text-shadow: 0px 1px 4px rgba(255, 255, 255, 1.0); }

#prevBtn { 
  margin-left: 1px;
  
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  
  -webkit-border-top-right-radius: 120px;
  -webkit-border-bottom-right-radius: 120px;
  -moz-border-radius-topright: 120px;
  -moz-border-radius-bottomright: 120px;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
  
  border-right: 1px solid #333333;
}
#prevBtn a { padding-left: 4px; }

#slider {
  height: 490px;
  width: 955px;
  padding: 0px;
}

#slider ul { padding-left: 0px; }

#slider li {
  height: 490px;
  width: 955px;
  list-style-type: none;
}

#slider h2 {
  position: relative;
  height: 45px;
  width: 954px;
  padding: 0px;
  padding-top: 25px;
  margin: 0px;
  margin-left: 1px;
  bottom: 73px; 
  
  color: #FFFFFF;
  text-shadow: 0px 0px 0px #FFFFFF;
  
  background-color: #000000;
  background: rgba(0, 0, 0, 0.50);
  -ms-filter: "alpha(opacity=66)";
  filter: alpha(opacity=66);
}

#content {
  margin: 0px auto 0px;
  width: 960px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000000;
  text-shadow: 1px 1px 1px #FFFFFF;
}

#content p {
  max-width: 660px;
  line-height: 20px;
  text-align: justify;
}

#content h1, #content a { color: #000000; }
#nextBtn a, #prevBtn a { color: #FFFFFF; text-shadow: 0px 0px 0px #FFFFFF;}

#news {
  width: 998px;
  height: 240px;
}

.news {
  position: relative;
  float: left;
  margin-top: 15px;
  margin-right: 42px;
  width: 290px;
  height: 230px;
  text-shadow: 1px 1px 1px #FFFFFF;
}

.news h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #C4C4C4;
  width: 290px;
}

.news p {
  text-align: justify;
}

.pagination { font-size: 14px; word-spacing: 5px; }
.pagination em { font-style: normal; font-size: 18px; }


#footer {
  height: 60px;
  width: 960px;
  margin: 25px auto 0px;
  color: #000000;
  text-shadow: 1px 1px 1px #FFFFFF;
  
}
#footer p { font-size: 12px; margin: 0px;}
#footer a { color: #000000; }

#notice {
  color: green;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.0);
}

a { color: #FFFFFF; text-decoration: none; }
a:hover { text-decoration: none; }
hr { border: 0px; border-top: 1px solid #DADADA; border-bottom: 1px solid #F9F9F9; height: 0px; }

div.field, div.actions { margin-bottom: 10px; }

.field_with_errors {
  width: 254px;
  padding: 1px;
  background-color: #e42735;
}

#error_explanation {
  width: 450px;
  border: 1px solid #e42735;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
  background-color: #f0f0f0;
}

#error_explanation ul {
  padding: 3px;
  margin: 3px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  color: #333;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.0);
  font-size: 12px;
  list-style-type: none;
}

input[type=text], input[type=password], select {
  font-size: 14px;
  height: 19px;
  width: 250px;
  border: 1px solid #C4C4C4;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 14px CabinRegular, Arial, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 1px solid #ccc;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

#TB_caption{
	height:25px;
	padding:10px 30px 5px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:10px 25px 5px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:25px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color:#e8e8e8;
	height:27px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 5px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
