body { background-color: #ffffff; color: #000000; margin: 0px;}

body, p, ol, ul, td {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

body {
  background-color: #ffffff;
}

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px;
}

em {
  font-size: 12px;
}

#upper {
  margin: 0px auto 0px;
  width: 810px;
}

#title p {
  font-size: 72px;
  margin-top: 45px;
  margin-bottom: 10px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .9);
}

#blue { color: #3481cf }
#green { color: #58cf34 }
#yellow { color: #e0de37 }

#menu {
  font-size: 24px;
  height: 50px;
  color: #111;
  margin-bottom: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

#menu ul {
  padding: 0px;
  list-style-type: none;
}

#menu ul li {
  font-size: 28px;
  display: block;
  float: left;
  margin-right: 20px;
  width: 120px;
  height: 30px;
  padding-top: 15px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .3);
  
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  
  background-color: #000;
  background-image: -moz-linear-gradient(top, #000000 0%, #555555 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#555555));
}

#container {
  margin: 0px auto 0px;
  height: 540px;
  background-color: #c4c4c4;
  background-image: url(../images/grey-bg.gif);
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
}

#nextBtn {
  height: 250px;
  padding-top: 220px;
  
  background-image: -moz-linear-gradient(left, transparent 0%, #666666 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(transparent), to(#666666));
  
  position: absolute;
  font-size: 96px;
  top: 188px;
  margin-left: 899px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 1.9);
}

#prevBtn {
  height: 250px;
  padding-top: 220px;
  
  background-image: -moz-linear-gradient(left, transparent 100%, #666666 0%);
  background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(transparent), to(#666666));
  
  position: absolute;
  font-size: 96px;
  top: 188px;
  margin-left: 0px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 1.9);
}

#slider {
  height: 490px;
  width: 955px;
  padding: 0px;
}

#slider ul {
  padding-left: 2px;
}

#slider li {
  height: 490px;
  width: 955px;
  
  list-style-type: none;
}

#content {
  margin: 0px auto 0px;
  width: 960px;
  padding-top: 20px;
  color: #000000;
}

#news {
  margin-top: 40px;
  width: 960px;
}

.news {
  width: 318px;
  position: relative;
  float: left;
  font-size: 12px;
}

.news p {
	 padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
}

#content h1, #content a { color: #000000; }

#nextBtn a, #prevBtn a { color: #FFFFFF; }

#footer {
  margin: 0px auto 0px;
  width: 810px;
  color: #000000;
  height: 100px;
}

a { color: #FFFFFF; text-decoration: none; }
a:hover { text-decoration: none; }

div.field, div.actions { margin-bottom: 10px; }

#notice {
  color: green;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .0);
}

.field_with_errors {
  padding: 1px;
  background-color: #e42735;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 1px solid #e42735;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation ul {
  padding: 3px;
  margin: 3px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  color: #333;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .0);
  font-size: 12px;
  list-style-type: none;
}
