<html>
  <head>
    <title>Oscartes</title>
  </head>
  <body>
    <div id="convite" style="width: 790px; height: 730px; overflow:hidden; margin: 0px auto 0px;">
      <%= image_tag 'convite.jpg' %>
    </div>
   </body>
</html>