<div id="slider">
  <ul>
    <% @imagens.each do |imagem| %>
      <li>
        <%= link_to image_tag(imagem.photo.url(:medium)), imagem.photo.url(), :class => "thickbox" %>
        <h2><%= imagem.title %></h2>
      </li>
    <% end %>
  </ul>
</div>