<p>
  <%= @image.title %>
</p>

<p>
  <%= image_tag(@image.photo.url, :size => "640x400", :alt => @image.title) %>
</p>


<%= link_to 'Editar', edit_image_path(@image) %> |
<%= link_to 'Voltar', :back %>
